body { 
Background-color: #666666;
font-family: Arial, Helvetica, Sans-Serif;
font-size: 90%;
}
div {
margin-top: 6px;
padding: 6px;
border: 1px solid black;
}
#header {
background-color: #990000 ;
width: 779px ;
height: 50px;
color: #FFFFFF;
font-size: 250%
}
#navigation {
background-color: #CCCCCC;
width: 779px
}
#footer {
background-color: #CCCCCC;
width: 779px ;
text-align: center;
clear: left
}
#content {
background-color: #999999;
width: 464px ;
margin-bottom: 6px ;
float:left;
overflow:auto;
}
#rightpanel {
background-color: #999999;
width: 295px ;
margin-left: 484px
}
img {
	overflow: auto;
	float:left;
}
